.card_top_container {
    position: relative;

    .ms-card-img {
        border-radius: 10px;
    }

    .label {
        position: absolute;
        top: 90%;

        .green {
            display: inline-block;
            background-color: green;
            color: white;
            padding: 0.2rem;
        }

        .red {
            display: inline-block;
            background-color: red;
            color: white;
            padding: 0.2rem;
        }
    }

    .heart {
        position: absolute;
        top: 10%;
        right: 0;
        font-size: 2.5rem;
        background-color: white;
        border-radius: 10px 0 0 10px;

        .orange {
            color: #ff6900;
        }

        span {
            padding: 0.5rem;
        }
    }

}

.bottom-card {
    .brand-name {
        font-weight: 200;
        font-size: 0.8rem;
        margin: 0;
    }

    .product-name {
        font-weight: 700;
        margin: 0;
    }

    .price {
        color: red;
        font-size: 0.8rem;
        display: inline-block;
    }

    .price-disc {
        font-size: 0.8rem;
        display: inline-block;
    }
}